<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>原图</string>
		<key>image</key>
		<string>filter_0.png</string>
		<key>sel_image</key>
		<string>filter_selected_0.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>雪梨</string>
		<key>image</key>
		<string>filter_1.png</string>
		<key>sel_image</key>
		<string>filter_selected_1.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>香蕉</string>
		<key>image</key>
		<string>filter_2.png</string>
		<key>sel_image</key>
		<string>filter_selected_2.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>柠檬</string>
		<key>image</key>
		<string>filter_3.png</string>
		<key>sel_image</key>
		<string>filter_selected_3.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>葡萄</string>
		<key>image</key>
		<string>filter_4.png</string>
		<key>sel_image</key>
		<string>filter_selected_4.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>杨桃</string>
		<key>image</key>
		<string>filter_5.png</string>
		<key>sel_image</key>
		<string>filter_selected_5.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>桑葚</string>
		<key>image</key>
		<string>filter_6.png</string>
		<key>sel_image</key>
		<string>filter_selected_6.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>椰果</string>
		<key>image</key>
		<string>filter_12.png</string>
		<key>sel_image</key>
		<string>filter_selected_12.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>菠萝</string>
		<key>image</key>
		<string>filter_13.png</string>
		<key>sel_image</key>
		<string>filter_selected_13.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>柚子</string>
		<key>image</key>
		<string>filter_14.png</string>
		<key>sel_image</key>
		<string>filter_selected_14.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>蓝莓</string>
		<key>image</key>
		<string>filter_15.png</string>
		<key>sel_image</key>
		<string>filter_selected_15.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>芒果</string>
		<key>image</key>
		<string>filter_17.png</string>
		<key>sel_image</key>
		<string>filter_selected_17.png</string>
	</dict>
</array>
</plist>
