<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>配置</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>运行环境</string>
			<key>Titles</key>
			<array>
				<string>正式环境</string>
				<string>测试环境</string>
			</array>
			<key>Values</key>
			<array>
				<string>production</string>
				<string>development</string>
			</array>
			<key>Key</key>
			<string>environment_preference</string>
			<key>DefaultValue</key>
			<string>development</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>收集日志</string>
			<key>Key</key>
			<string>log_preference</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
